{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<style>
        .hr2
        {
        background:;
        }
        .hr2:after
        {
        content:'';
        display:block;
        max-width:13%;
        border-bottom:3px solid Yellow;
        }
</style>
<div class="text-center fs-2 pt-4">
    <i class="fa-solid fa-person-circle-exclamation"></i>
    About<b class="txt-mycolor">Us</b></div>
<div class="row ">
	<div class="col-8 mx-auto pb-4 text-center">
		There are multiple reasons to choose us for multiple purpose related to  your IT.Believe me you
    <center>will find us best suitable.</center>
    </div><br/>


<div class="row">
    <div class="col-sm-10 mx-auto pb-4 pt-4">
        <div class="row pb-4">
            <div class="col-sm-6 pe-5 pt-2">
                <a href="">
                    <iframe width="540" height="315" src="https://www.youtube.com/embed/hvInSMhplBI?si=mQUzbEZuSEI0un0x"
                                        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                                  clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen style="height:400px;"></iframe></a>
            </div>
            <div class="col-sm-6 fs-6 ps-4">
                <b class="fs-5 hr2">Welcome to the Learning Hub, just here some little word discribe  Our work scope.</b>
                <div class=" pt-2">
                     <small>
                Learning Hub offers blended learning solutions that bring together our expertise in vocational
                content design and an innovative and flexible learning management system empowering educators
                to deliver smarter with improved outcomes. Designed to complement face-to-face teaching,
                Learning Hub delivers interactive, engaging and accessible digital learning experiences with
                tools to equip educators to easily personalise learning, wherever and whenever it happens.
                 </small>
                </div>
                <div class="  pt-2 pb-3 ">
                    <small>
                Effective learning experiences Highly engaging, bite-sized interactive and meaningful learning
                experiences, designed to motivate and engage learners through active learning and help them
                make connections to the real world of work.  With content such as videos, infographics, case
                studies and self-marking quizzes, your learners can improve learning and retention and acquire
                the employability skills they will need for the future.
                    </small>
                </div>
                 <a href="/user/contact/">
              <input type="submit" value="CONTACT US" class="btn btn-outline-warning">
                 </a>
            </div>
        </div>
    </div>
</div>
<div class="row bg-light ">
    <div class="col-sm-12">
        <div class="text-center fs-2 pt-4 bg-light">We<b class="txt-mycolor"> Believe</b></div>
        <div class="text-center bg-light">We believe to make IT  industry more reliable for people.</div>
    </div>
</div>
<div class="row bg-light">
    <div class="col-sm-7 pb-5 mx-auto">
         <p class="fs-3 hr2">Our Vision</p>
        <div class="pb-2">
     <small>
        Our Vision is to be a leading Web Solution company in IT sector and progress in our current position in market.
        We know that Customer's growth is our growth, so we commit our customers to help in achieving their business goals.
        We believe in work with the accuracy and best quality.
        </small>
        </div>
         <p class="fs-3 hr2">Our Mission</p>
        <div class="pb-2">
        <small>
            Our mission is to enhance the business growth of our customers with creative Design and Development to deliver
            market- defining high-quality solutions that create value and reliable competitive advantage for our clients
            around the world
        </small>
        </div>
          <p class="fs-3 hr2">Our Work Scope</p>
    <div class="">
        <small>
            Our mission is to deliver optimal solutions with quality and services at reasonable prices. For us customer
            satisfaction is given top place. We are very friendly in our dealings to the customers and it helps us retain
            existing clients and expand customer circle. We always try to improve the quality of our products by exploring
            innovative ideas
        </small>
    </div>
    </div>
</div>
</div>
{% endblock %}