{% extends 'base.html'%}
{% load static %}
{% block childpage %}
<style>
    .abc
    {
    border-radius:100%;
    width:250px;
    height:250px;
    }
    .img-fluid:hover
    {
    transform:scale(1.02);
    }
</style>
<div class="row bg-light">
<div class="text-center fs-2 pt-2">
   <i class="fa-solid fa-server"></i>
    Our<b class="txt-mycolor"> Facility</b></div>
        <div class="row pt-4 pb-5  bg-light ">
            <div class="col-9 mx-auto text-light">
                <div class="row ps-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/college.jpg/' %} " class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">College</b>
                        <p>֍A college (Latin: collegium) is an educational institution or a constituent
                            part of one. A college may be a degree-awarding tertiary educational institution,
                            a part of a collegiate or federal university, an institution offering vocational
                            education, a further education institution, or a secondary school. </p>
                        <p>
                           ֍  They provide opportunities for personal and
                            intellectual growth, research, and skill development in various fields of study.
                        </p>

                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/classroom.jpg/' %}"  class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Class Room</b>
                        <p> ֍ A classroom, schoolroom or lecture room is a learning space in which both children
                            and adults learn. Classrooms are found in educational institutions of all kinds,
                            ranging from preschools to universities, and may also be found in other places
                            where education or training is provided, such as corporations and religious and
                            humanitarian organizations.</p>
                            ֍ The classroom provides a space where learning can take
                            place uninterrupted by outside distractions.
                        </p>
                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/5.jpg/' %}"  class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Library & Reading Room</b>
                        <p> ֍ A library is a collection of books, and possibly other materials and
                            media, that is accessible for use by its members and members of allied
                            institutions. Libraries provide physical (hard copies) or digital access
                            (soft copies) materials, and may be a physical location or a virtual space,
                            or both. A library's collection normally includes printed materials which can be borrowed, and a reference section of publications which are not permitted to leave the library and can only be viewed inside the premises.
                        </p>
                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/digital library.jpg/' %}" class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Digital Library</b>
                        <p> ֍ There may be other physical resources in many formats, such as commercial releases
                            of films, television programmes, other video recordings, radio, music and audio recordings
                            on DVD, Blu-ray, CD and cassette, besides access to information, music or other content held on bibliographic databases.
                        </p>
                        ֍ Digital library is a best educqtion system in the great future.
                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/lab1.jpg/' %}" class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Lab</b>
                        <p> ֍ We have a very good laboratory here, where the students will get to learn a lot.
                            There are many chemicals and many equipments present in our lab, from which the
                            students will get to learn a lot, which will be very useful in the future.
                            We have different types of labs like Chemistry Lab, Biology Lab, Physics Lab etc.
                            are present, students will get to learn a lot in this.
                        </p>
                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/computerlab.jpg/' %}"  class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Computer Lab</b>
                        <p> ֍ A computer lab is a space where computer services are provided to a defined community.
                            These are typically public libraries and academic institutions.[1] Generally, users
                            must follow a certain user policy to retain access to the computers. This usually
                            consists of rules such as no illegal activity during use or attempts to circumvent
                            any security or content-control software while using the computers.
                        </p>
                       ֍  Computer labs are often subject to time limits in order to allow more people access to
                        use the lab.
                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/c hall.webp/' %}" class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Conference Hall</b>
                        <p> ֍ A regular venue for conferences, workshops and seminars, this auditorium has
                            all the facilities to enhance the learning process and is a vast space that
                            serves the varied requirements of quality education.
                        </p>
                        ֍ The objective behind the auditorium is to enhance the quality of education.<br/>
                        <p>
                        ֍ Conference rooms help to make your meetings run more smoothly.
                        </p>
                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/playground.jpg/' %}" class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Play Ground</b>
                        <p>֍ There is a very good playing ground here.</p>
                         <p>֍ The play ground has various types of play equipment.</p>
                        <p>֍ Students have great interest and benefit in sports.</p>
                        <p>֍ A playground might exclude children below (or above) a certain age.</p>
                        <p>֍ Cricket, football, volleyball, hockey etc. are present in the ground here.</p>
                </div>
            </div>
                 <div class="row ps-5 pt-5">
                    <div class="col-4 py-2 bg-white">
                        <img src="{% static 'images/bhostal.webp/' %}" class="img-fluid abc">
                    </div>
                    <div class="col-7 text-dark bg-white pt-2">
                      <b class="fs-3">Hostel Boys & Girls</b>
                        <p>֍ Boys and Girls Hostel is available at my place.</p>
                        <p>֍ Here in the hostel, bed, chair, table, fan, mattress, pillow etc. are present.</p>
                        <p>֍ Here in the hostel, food arrangement is available in evening and morning.</p>
                        <p>֍ Very good facilities are available in the hostel due to which students feel comfortable staying.</p>
                </div>
            </div>
        </div>
        </div>
{% endblock %}